<body>
  <div class="container-fluid" id="app">
    <div class="row mt-3">
      <div class="col-12">
        <form @submit.prevent="getUsers" class="form-inline m-2">
          <input type="number" class="form-control col-4 mr-1" v-model="numberPages">
          <button type="submit" class="btn btn-primary">Mostrar</button>
        </form>
      </div>
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>
           <template v-for="u in users">
            <tr>
              <td>{{u.first_name}}</td>
              <td>{{u.last_name}}</td>
              <td><img :src="u.avatar"></td>
            </tr>
           </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
